/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
  /* Start of "Micro clearfix" */
  
  .cf {
    zoom: 1;
  }
  .cf:before,
  .cf:after {
    content: "";
    display: table;
  }
  .cf:after {
    clear: both;
  }
  
  /* End of "Micro clearfix" */
  
  /*
  background-image: url("../img/gridb.png");*/

main {
    /*width: 956px;*/
    width:95vw;
    margin:20px;
    /*grid*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap:20px;
    padding:0 20px;



    
    border:1px solid red;
    
    
    background-color: yellow;
    /*background-image: url("../img/gridb.png");*/

    color:yellow


  }
  
  header.primary, footer.primary {
    background-color: black;
    grid-column:1 / span 12;
    padding: 20px;
  }

  #content{
    
    grid-column:1 / span 12;
  

    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap:20px;


  }
  
  #blog {
    background-color: black;
    grid-column:1 / span 5;
    padding:20px;

  }
  
  aside {
    background-color: black;
    grid-column:8 / span 5;
    padding:20px;
  }
  