


body{
    background-color: rgba(48, 48, 250, 0.871);
    font-family: 'Oswald', sans-serif;
}

.estimate-button{
    order:0;
    margin: 10px;
    padding: 10px;
    font-size:25px;
    font-weight: bold;
    color: white;
    background: red;
    box-shadow: 5px 4px black;

}
nav{
    border-bottom:3px black solid;
    ul{
        list-style-type: none;
        margin:0;
        padding:0;
    }
    background:white;
    position: fixed;
    z-index: 1;
    
    top: 0;
    width: 100%;
    .primary-nav{
        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-between;
        align-items: center;
        

        a{
            color:black;
            text-decoration: none;

        }
        

    
        .estimate-button{
            
            order:0;
            margin: 10px;
            padding: 10px;
            font-size:25px;
            font-weight: bold;
            color: white;
            background: red;
            box-shadow: 5px 4px  black;

        }
        .toggle .material-symbols-outlined{

            order:1;
            font-size: 40px;
            margin: 10px;

        }

        .nav-item{
            order:2;
            margin:5px;
            padding:10px;
            width:100%;
            text-align: center;
            border-top: 1px black solid;
            display: none;
                      
            .material-symbols-outlined{
                font-size: 15px;
            }
            a{
            
                text-decoration: none;
            }
            .submenu{
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                display: none;
                
                li {
                    display: block;
                    margin: 5px;
                    padding: 5px;
                    width:100%;
                    text-align: center;
                }
            }
            
        }
        
        
        
    }
}
.primary-nav.active .nav-item{
    display: block;
  }
  .primary-nav.active .nav-item.submenu-active .submenu{
    display:block;
}

#main-picture{
    width:90%;
    margin: auto;
    height: 400px;
    background-image: url("../img/foundation.3/foundation.land.400.3.jpg");
    background-size: cover;
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    

    img{
        
        width: 50%;
        box-shadow: 6px 5px  black;
        position: relative;
        top: 10px;
        left: 10px;
        z-index: 0;
    
    }

}
section{
    width:90%;
    margin:auto;
    margin-top: 20px;
    padding: 10px;
    background: white;
    border:4px black solid;
}
h1{
    color:red;
    
    border-bottom:1px black solid;
}
.jumbotron{
    background: white;
    border:4px black solid;
    width: 80%;
    padding: 10px;
    margin:auto;
    margin-top: 20px;
    
    h1{
        width:90%;
        margin: auto;
        padding: 10px;
        font-size: 40px;
        color:red;
        text-shadow: 1px 1px black;
        border-bottom:1px black solid;
        text-align: center;

    }
    ul{
        font-size: 20px;
    }
    p {
        font-size: 20px;
        text-align: center;
        .free{
            font-weight: bold;
            color:red;
        }
    }
    button{
        width: 100%;
        margin:auto;
    }

}
.about-us{
    
    .story{
        width:80%;
        margin: auto;
        margin-bottom: 10px;
        border-bottom: 2px black solid;
        padding: 5px;
        font-size:20px;

        
    }
    
    .quote{
        width: 70%;
        margin:auto;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
    h2{
        width: 100%;
        margin:auto;
        margin-bottom: 10px;
        text-align: center;
        font-weight: bold;
        color:red;
        
        
        
    }
    picture{
        display: flex;
        justify-content: center;
        width: 80%;
        margin:auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

}
.services{
    .tab {
        overflow: hidden;
        
        background-color: white;
        button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            color:red;
            border:2px black solid;
          }
          button:hover {
            background-color: #ddd;
            color:white;
          }
          button.active {
            background-color: #ddd;
            border:2px black solid;
            border-bottom: 2px #ddd solid;
          }
      }
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 2px solid black;
        border-top:none;
        background-color: #ddd;
        

        .mySlides1, .mySlides2, .mySlides3{
            display: none;
        }
        img , video{
            border:2px black  solid;
            vertical-align: middle;
        }
        video{
            width: 100%;
            max-height: 400px;
        }

        
        .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
        }

        
        .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        background:black;
        opacity: .4;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        }

        
        .next {
        right: 0;
        border-radius: 3px 0 0 3px;
        }

        
        .prev:hover, .next:hover {
        background-color: #f1f1f1;
        color: black;
        }
        
                                
      }
      
}




@media screen and (min-width:1000px){
}
@media screen and (min-width:768px){
}