


body{
    background-color: rgba(48, 48, 250, 0.871);
    font-family: 'Oswald', sans-serif;
}

.estimate-button{
    order:0;
    margin: 10px;
    padding: 10px;
    font-size:25px;
    font-weight: bold;
    color: white;
    background: red;
    box-shadow: 5px 4px black;

}
nav{
    border-bottom:3px black solid;
    background:white;
    position: fixed;
    z-index: 1;
    
    top: 0;
    width: 100%;
    
    ul{
        list-style-type: none;
        margin:0;
        padding:0;
    }

    .primary-nav{
        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-between;
        align-items: center;
        a{
            color:black;
            text-decoration: none;
            display: inline-block;
            position: relative;

        }
        a::after{
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: red;
            transform-origin: top right;
            transition: transform 0.25s ease-out;
            
        }
        a:hover::after{
            transform: scaleX(1);
            transform-origin: top left;
    
        }
        a:hover{
            color: red;
        }
        
        .estimate-button{
            
            order:0;
            margin: 10px;
            padding: 10px;
            font-size:25px;
            font-weight: bold;
            color: white;
            background: red;
            box-shadow: 5px 4px  black;

        }
        .toggle .material-symbols-outlined{

            order:1;
            font-size: 40px;
            margin: 10px;

        }

        .nav-item{
            order:2;
            margin:5px;
            padding:10px;
            width:100%;
            text-align: center;
            border-top: 2px black solid;
            display: none;
                      
            .material-symbols-outlined{
                font-size: 15px;
            }
            a{
            
                text-decoration: none;
            }
            .submenu{
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                display: none;
                
                li {
                    display: block;
                    margin: 5px;
                    padding: 5px;
                    width:100%;
                    text-align: center;
                    border-bottom: 1px black solid;
                }
                .lastItem{
                    border-bottom:none;
                }
            }
            
        }
        
        
        
    }
}
.primary-nav.active .nav-item{
    display: block;
  }
  .primary-nav.active .nav-item.submenu-active .submenu{
    display:block;
}

#main-picture{
    width:90%;
    margin: auto;
    height: 400px;
    background-image: url("../img/foundation/foundation.3/foundation.land.400.3.jpg");
    background-size: cover;
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    img{
        width: 50%;
        box-shadow: 6px 5px  black;
        position: relative;
        top: 10px;
        left: 10px;
        z-index: 0;
    
    }

}
section{
    width:90%;
    margin:auto;
    margin-top: 20px;
    padding: 10px;
    background: white;
    border:4px black solid;
}
h1{
    color:red;
    
    border-bottom:1px black solid;
}

.jumbotron{
    background: white;
    border:4px black solid;
    width: 80%;
    padding: 10px;
    margin:auto;
    margin-top: 20px;
    
    h1{
        width:90%;
        margin: auto;
        padding: 10px;
        font-size: 40px;
        color:red;
        text-shadow: 1px 1px black;
        border-bottom:1px black solid;
        text-align: center;

    }
    ul{
        font-size: 20px;
    }
    p {
        font-size: 20px;
        text-align: center;
        .free{
            font-weight: bold;
            color:red;
        }
    }
    button{
        width: 100%;
        margin:auto;
    }

}

#about-us{
    
    .story{
        width:80%;
        margin: auto;
        margin-bottom: 10px;
        border-bottom: 2px black solid;
        padding: 5px;
        font-size:20px;

        
    }
    
    .quote{
        width: 70%;
        margin:auto;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
    h2{
        width: 100%;
        margin:auto;
        margin-bottom: 10px;
        text-align: center;
        font-weight: bold;
        color:red;
        
        
        
    }
    img{
        display: block;
        width: 90%;
        margin:auto;
        border:2px black solid;
    }

}

#services{
    .tab {
        overflow: hidden;
        
        background-color: white;
        button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            color:red;
            font-size: 20px;
            border:2px black solid;
          }
          button:hover {
            background-color: #ddd;
            color:white;
          }
          button.active {
            background-color: #ddd;
            border:2px black solid;
            border-bottom: 2px #ddd solid;
          }
      }
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 2px solid black;
        border-top:none;
        background-color: #ddd;
        

        .mySlides1, .mySlides2, .mySlides3{
            display: none;
        }
        picture , video{
            
            
            img{
                border:2px black  solid;
                width:100%;
            }
        }
        video{
            width:100%;
            
            
        }

        
        .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
        }

        
        .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        background:black;
        opacity: .4;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        }

        
        .next {
        right: 0;
        border-radius: 3px 0 0 3px;
        }

        
        .prev:hover, .next:hover {
        background-color: #f1f1f1;
        color: black;
        }
        
                                
      }
      
}

#service-area{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "h1"
    "h2"
    "img"
    "p";
    h1{
        grid-area: h1;

    }
    h2{
        grid-area:h2;
        color:red;
    }
    img{
        grid-area:img;
        width:90%;
        margin: auto;
    }
    p{
        grid-area:p;
        font-size:20px;
        border-top:1px black solid;
        padding: 10px;
        text-align: center;

    }
    ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        #AndMore{
            color:red;
        }
      }

}

#contact-us{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "h1 h1"
    "p h2"
    "p dl";

    h1{
        grid-area:h1;

    }
    p{
        grid-area:p;
        font-size:20px;
        margin:auto;
        padding:10px;
        text-align: center;
        border:1px black solid;

    }
    h2{
        grid-area:h2;
        margin:auto;
        margin-bottom:10px;
        color: red;
    }
    dl{
        grid-area:dl;
        margin:auto;
        dt{
            color:red;
        }
    }
}

footer{
    position: absolute;
    margin-top: 20px;
    width: 100%;
    background-color: gray;
    border-top: 4px black solid;
    display: grid;
    grid-template-columns: 1fr;
    
    grid-template-areas:
    "ul"
    "img" ;

    
    ul{
        list-style: none;
        grid-area:ul;
        margin:auto;
        margin-top: 30px;
        width:80%;
        border-bottom: 1px black solid;
        padding-bottom: 30px;
        font-size: 15px;

        display: flex;
        flex-wrap:wrap;
        justify-content: space-around;


        a{
            color:black;
            text-decoration:overline
        }
        a:hover{
            color:red;
    
        }
    }
    img{
        grid-area:img;
        margin:10px auto;
        width: 30%;
        
    }

}

@media screen and (min-width:1000px){
}
@media screen and (min-width:768px){
}