body{

    
  /*Not my code:https://medium.com/@mignunez/html-css-how-to-split-a-background-into-2-colors-1cdc394deb3d*/
  background: linear-gradient(
  to right,
  rgb(75, 74, 74) 0%,
  rgb(161, 160, 160) 50%,
  white 50%,
  white 100%
  );
  
  

  
 }

 div{
  
  
  /*960*/
  width:80vw;
  margin:auto;
  margin-top: 10%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10%;
  

 }
 h1{
  color:white;
  border: 5px ridge white;
  text-decoration: underline rgb(70, 69, 69);
  
  text-align: center;
  font-size: 70px;
  font-weight: normal;

  /*
  width:43.75%;
  margin-left: 2.08%;
  padding:1%;
  */
  padding:10%;
  

 }
 
 ul{
  
  

  list-style-type: upper-roman;
  font-size: 20px;

  /*
  width:43.75%;
  margin-left: 2.08%;
  padding:2%;
  */
  padding:5%;

  display: grid;
  
 }
 li{
  border: 5px ridge;
  background-color: rgb(219, 215, 215);

  
  width:85%;
  padding:2%;
  margin:10px;
  
 }
 li:hover{
  background-color: rgba(109, 109, 109, 0.986);
 }

 li a {
  font-size:25px;
  font-weight: normal;
  text-decoration: none;
  
 }
 li a:link {
  color:black;
 }
 li a:hover {
  color:white;
 }
 

 .clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width:600px) {
  div {
    grid-template-columns: auto;
    
  }
  h1{
    color:black;
    margin-bottom: auto;
  }
  
  
}

@media screen and (min-width:911px){
  div {
    grid-template-columns: auto;
    max-height: auto;
  }

  h1 {
    padding: 5%;
    height:30%;
    font-size:150px;

    background-color:dimgrey;

  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  li {
    max-width: 40%;
  }

}

@media screen and (min-height:800px) {
  div{
    background-color: black;
  }

}
